<!DOCTYPE html>
<html lang="ko">
<!--[if IE 9]>
<html class="ie9" lang="ko">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ko">    <![endif]-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <meta name="description" content="Gridus vCard HTML Template is the professional responsive personal website template, based on the latest Bootstrap 3">
    <meta name="keywords" content="html5, template, website, responsive, bootstrap">
    <meta name="author" content="neuethemes">

    <!-- CSS -->    
    @Styles.Render("~/eddyhome/css")    
</head>
<body class="boxed">
    <!--Pre-Loader-->
    <!--div id="preloader"></div -->
    <!-- header -->
    <header>
        <section id="top-navigation" class="container-fluid nopadding">
            <div class="row nopadding ident e-bg-light-texture">
                <!-- Photo -->
                <a href="#!">
                    <div class="col-md-5 col-lg-4 vc-photo">&nbsp;</div>
                </a>
                <!-- /Photo -->

                <div class="col-md-7 col-lg-8 vc-name nopadding">
                    <!-- Name-Position -->
                    <div class="row nopadding name">
                        <div class="col-md-10 name-title"><h2 class="font-accident-two-light uppercase">Samuel Anderson</h2></div>
                        <div class="col-md-2 nopadding name-pdf">
                            <a href="#" class="hvr-sweep-to-right"><i class="flaticon-download149" title="Download CV.pdf"></i></a>
                        </div>
                    </div>
                    <div class="row nopadding position">
                        <div class="col-md-10 position-title">

                            <section class="cd-intro">
                                <h4 class="cd-headline clip is-full-width font-accident-two-normal uppercase">
                                    <span>The experienced </span>
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible">UI/UX Designer</b>
                                        <b>Web Designer</b>
                                        <b>Photographer</b>
                                    </span>
                                </h4>
                            </section>

                        </div>
                        <div class="col-md-2 nopadding pdf">
                            <a href="#" class="hvr-sweep-to-right"><i class="flaticon-behance7" title="My Behance Portfolio"></i></a>
                        </div>
                    </div>
                    <!-- /Name-Position -->
                    <!-- Main Navigation -->

                    <ul id="nav" class="row nopadding cd-side-navigation">
                        <li class="col-xs-4 col-sm-2 nopadding menuitem green">
                            <a href="/Home/Index" class="hvr-sweep-to-bottom"><i class="flaticon-insignia"></i><span>home</span></a>
                        </li>
                        <li class="col-xs-4 col-sm-2 nopadding menuitem blue">
                            <a href="/Resume/Index" class="hvr-sweep-to-bottom"><i class="flaticon-graduation61"></i><span>resume</span></a>
                        </li>
                        <li class="col-xs-4 col-sm-2 nopadding menuitem cyan">
                            <a href="/Portfolio/Index" class="hvr-sweep-to-bottom"><i class="flaticon-book-bag2"></i><span>portfolio</span></a>
                        </li>
                        <li class="col-xs-4 col-sm-2 nopadding menuitem orange">
                            <a href="/Home/Contact" class="hvr-sweep-to-bottom"><i class="flaticon-placeholders4"></i><span>contacts</span></a>
                        </li>
                        <li class="col-xs-4 col-sm-2 nopadding menuitem red">
                            <a href="/Board/List" class="hvr-sweep-to-bottom"><i class="flaticon-earphones18"></i><span>board</span></a>
                        </li>
                        <li class="col-xs-4 col-sm-2 nopadding menuitem yellow">
                            <a href="/Member/Entry" class="hvr-sweep-to-bottom"><i class="flaticon-pens15"></i><span>Register</span></a>
                        </li>
                    </ul>

                    <!-- /Main Navigation -->

                </div>
            </div>
        </section>

    </header>
    <!-- Container -->
    <div class="content-wrap">
        @RenderBody()
    </div>
    <!-- footer -->
    <footer class="padding-50 e-bg-light-texture">
        <div class="container-fluid nopadding">
            <div class="row wow fadeInDown" data-wow-delay=".2s" data-wow-offset="10">
                <div class="col-md-3">
                    <h4 class="font-accident-two-normal uppercase">Samuel Anderson</h4>
                    <p class="inline-block">
                        Quality Web Design, Ui / UX Design, Photo services. Part-time or Fulltime.
                    </p>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-3 cv-link">
                    <h4 class="font-accident-two-normal uppercase">Download cv</h4>
                    <div class="dividewhite1"></div>
                    <a href="#!">English</a>
                    <a href="#!">German</a>
                    <a href="#!">Spanish</a>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-3">
                    <h4 class="font-accident-two-normal uppercase">Subscribe</h4>
                    <div class="dividewhite1"></div>
                    <input>
                    <!--<p>Lorem ipsum dolor sit amet...</p>-->
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-md-3">
                    <h4 class="font-accident-two-normal uppercase">Follow me at</h4>
                    <div class="inline-block"><a href="#!"><i class="flaticon-facebook45"></i></a></div>
                    <div class="inline-block"><a href="#!"><i class="flaticon-twitter39"></i></a></div>
                    <div class="inline-block"><a href="#!"><i class="flaticon-pinterest28"></i></a></div>
                    <div class="inline-block"><a href="#!"><i class="flaticon-linkedin22"></i></a></div>
                    <div class="inline-block"><a href="#!"><i class="flaticon-vimeo22"></i></a></div>
                    <div class="inline-block"><a href="#!"><i class="flaticon-soundcloud8"></i></a></div>
                    <div class="divider-dynamic"></div>
                </div>
            </div>
            <div class="dividewhite1"></div>
            <div class="row wow fadeInDown" data-wow-delay=".4s" data-wow-offset="10">
                <div class="col-md-12 copyrights">
                    <p>© 2016 Samuel Anderson.</p>
                </div>
            </div>
        </div>
    </footer>
    <div id="image-cache" class="hidden"></div>
    <!-- JS -->
    @Scripts.Render("~/eddyhome/js")
    <script src="https://maps.google.com/maps/api/js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
